* {
	margin: 0;
	padding: 0;
	color: #361500;
}

body {
	font-family: 'Poppins', sans-serif;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	color: #CC9544;
}

/*	Navbar here	*/

nav {
	font-family: 'Secular One', sans-serif;
	font-weight: bold;
}

#dmnavbar-brand {
	height: 3rem;
	width: 10rem;
}

nav.navbar {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.navbar {
	background-color: #D7A86E;
}

/*Home here*/

#home {
	background-color: #f4a460;
}

.homeSection {
	padding-top: 64px;
}

p.hi, p.intro {
	font-size: 2rem;
	font-weight: bold;
}

button.collab {
	border-radius: 15px;
	background-color: #fee6b6;
	font-weight: bold;
}
a.collab {
	color: black;
}

button a:hover {
	text-decoration: none;	
	color: #361500;
}

/*AboutMe*/

#aboutMe {
	background-color: #f2b788;
}

.shortInfo {
	background-color: #fee6b6;
}

/*Projects here*/

.toggle {
	background-color: sandybrown;
	border: 0;
	border-radius: 1rem;
	padding: 1rem;
	font-weight: bold;
}

/*Home here*/

form {
	background-color: #f4a460;
}

.sendMessage {
	border-radius: 15px;
	background-color: #fee6b6;
	font-weight: bold;
	color: ;
}

/**/
#contactMe {
	background-color: #f4a460;
}

#googlemaps {
	height: 300px;
	border: 0;
}

#connectWithMe {
	padding: 2rem;
}

.linkedInAccount{
	width: 50px;
	height: 50px;
	border: 0;
	padding: none;
	margin: none;
}

footer {
	border-top: 2px solid black;
}
#dm-footer-logo {
	height: 25px;
	width: 70px;
}