* {
	margin: 0;
	padding: 0;
	color: #361500;
}

body {
	font-family: 'Sono', sans-serif;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	color: #CC9544;
}

/*	Navbar here	*/

nav {
	font-family: 'Secular One', sans-serif;
	font-weight: bold;
}

#dmnavbar-brand {
	height: 3rem;
	width: 10rem;
}

.navbar {
	background-color: #D7A86E;
}

#home {
	background-color: #D7A86E;
}

/*Projects here*/

.toggle {
	background-color: sandybrown;
	border: 0;
	border-radius: 1rem;
	padding: 1rem;
	font-weight: bold;
}

/*div.card {
	width: 18rem;
	align-content: center;
}*/

a.button {
	background-color: #CC9544 ;
	color: #1C0A00;
	font-weight: bold;
	border-radius: 1rem;
}

/*#project-card {
	height: 35rem;
	padding-top: 3rem;
}*/

/*Home here*/

#fb-account {
	color: #1C0A00;
}

form {
	background-color: #C19065;
	font-weight: bold;
}

/**/

#googlemaps {
	width: 600;
	height: 450;
	border: 0;
}

#location {
	padding: 3rem;
	/*background-color: #FFEBC1;*/
}

footer {
	background-color: #D7A86E;
}